.blog {
     padding: 40px;
     margin-left: 96px;
}
.blog-heading {
     color: #242424;
     font-size: 28px;
     font-weight: 900;
     margin: 28px 0;
}
.blog-category {
     border: none;
     outline: none;
     background-color: transparent;
     margin: 10px 0;
     border: 1px solid #ccc;
     padding: 6px 8px;
     box-shadow: 0 1px 1px rgba(0,0,0,0.5);
     border-radius: 12px;
}
.blog-title {
     margin: 6px 0;
     font-size: 15px;
     color: #292929;
}

.blog-list {
     display: flex;
     flex-direction: column;
     gap: 30px ;
     margin-top: 20px;
}

.blog-item {
     border: 2px solid #e8e8e8;
     border-radius: 16px;
     padding: 24px;
     color: #292929;
     max-width: 1100px;
}
.blog-info {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-bottom: 10px;
}
.blog-info img {
     width: 26px;
     height: 26px;
     object-fit: cover;
     border-radius: 50%;
}
.blog-info p {
     color: #292929 ;
     font-size: 12px;
     font-weight: 500;
}
.blog-content {
     display: flex;
     justify-content: space-between;
     gap: 40px;
}
.blog-name {
     font-size: 20px;
     color: #292929;
     font-weight: 700;
     line-height: 1.6;
}
.blog-desc {
     color: #505050;
     font-size: 15px;
     line-height: 1.6;
}
.blog-img {
     background: #ebebeb;
    border-radius: 15px;
    color: #757575;
    display: block;
    font-size: 1.4rem;
    line-height: 1.8;
    max-height: 120px;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    width: 200px;
}
.blog-add-img {
     display: block;
     margin: 20px 0;
}
.blog-add-img label {
     display: block;
     margin-bottom: 5px;
}
.blog-add-img input {
     padding: 10px;
     border: none;
     outline: none;
}
.blog-more {
     display: flex;
     align-items: center;
     gap: 10px;
}
.blog-name-heading {
     padding: 6px;
}
.add-blog-1 {
     margin-top: 100px;
}