.learning-path {
     margin-left: 96px;
     padding-top: 30px;
}
.learning-heading {
     color: #242424;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}
.learning-title {
     margin: 6px 0;
     font-size: 18px;
     line-height: 16px;
     color: #333;
     font-weight: 400;
}
.learning-path-item {
     background-color: #fff;
     padding: 20px;
     border: 1px solid #ddd;
     border-radius: 5px;
     margin-top: 10px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 .learning-path h1 {
     color: #333;
     text-align: center;
 }

 .learning-path h2 {
     color: #555;
     margin-bottom: 20px;
 }

 .learning-path ul {
     list-style-type: none;
     padding: 0;
 }

 .module {
     margin-bottom: 20px;
 }

 .module-title {
     font-size: 1.5em;
     color: #007bff !important;
     margin-bottom: 10px;
 }

 .module-description {
     color: #444;
     margin-left: 20px;
 }

 .highlight {
     color: #28a745;
     font-weight: bold;
 }

 .important-dates {
     font-style: italic;
     margin-top: 10px;
 }
 .reasons-to-study-history {
     margin-top: 20px;
 }

 .reason-item {
     margin-bottom: 10px;
 }